body {
    background-color: #F1DEDE;
    color: #5D576B;
}

h1 {
    text-align: center;
}

#imatge_principal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: underline;
}