body {
    background-color: #F1DEDE;
    color: #5D576B;
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

h1,
h2 {
    text-align: center;
}

#imatge_principal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    color: inherit;
    text-decoration: underline;
}

#separador {
    margin-top: 20px;
    margin-bottom: 50px;
}

.relacionat {
    text-align: left;
}